 .u-section-1 {
  background-image: none;
  min-height: 1213px;
}

.u-section-1 .u-layout-wrap-1 {
  background-image: none;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1311px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 170px;
  background-image: url("images/th.jfif");
  background-position: 50% 50%;
  margin: 18px -15px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 2.25rem;
  margin: 46px -72px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 2.25rem;
  margin: 110px -107px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-size: 2.25rem;
  margin: 27px auto 0 -5px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  font-size: 2.25rem;
  margin: 25px -62px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: none none solid;
  font-size: 2.25rem;
  margin: 14px -59px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: none none solid;
  font-size: 2.25rem;
  margin: 26px -59px 0 auto;
  padding: 0;
}

.u-section-1 .u-image-2 {
  min-height: 1311px;
  background-image: url("images/white-background-image.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 1211px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1334px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1081px;
  }

  .u-section-1 .u-image-1 {
    width: 108px;
    height: 108px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 1081px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1391px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    min-height: 1035px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1146px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    min-height: 776px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 874px;
  }

  .u-section-1 .u-image-2 {
    min-height: 489px;
  }
} .u-section-2 {
  min-height: 2084px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 938px);
  margin: 112px 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 659px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 13px;
}

.u-section-2 .u-form-1 {
  height: 438px;
  margin: 161px 52px 0 21px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-2 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-input-4 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-input-5 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
}

.u-section-2 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 938px);
  min-height: 553px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-size: 2.25rem;
  margin: -875px auto 60px 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 938px);
  }

  .u-section-2 .u-form-1 {
    width: 911px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 938px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-form-1 {
    width: 693px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-form-1 {
    width: 520px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-form-1 {
    width: 320px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }
}