 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1521px;
}

.u-section-1 .u-tabs-1 {
  min-height: 1175px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 400;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 400;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 196px;
  height: 196px;
  margin: 45px auto 0 412px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1123px;
  margin: 41px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 50px;
}

.u-section-1 .u-form-1 {
  height: 356px;
  width: 1023px;
  margin: 66px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 196px;
  height: 196px;
  margin: 43px auto 0 442px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1123px;
  margin: 17px 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 722px;
}

.u-section-1 .u-container-layout-4 {
  padding: 84px 50px 15px;
}

.u-section-1 .u-form-2 {
  height: 356px;
  width: 1023px;
  margin: 51px auto 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-input-7 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-input-8 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-input-9 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 11px 0;
}

.u-section-1 .u-image-3 {
  width: 196px;
  height: 196px;
  margin: 78px auto 0;
}

.u-section-1 .u-layout-wrap-3 {
  width: 1123px;
  margin: 37px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 510px;
}

.u-section-1 .u-container-layout-6 {
  padding: 15px 50px;
}

.u-section-1 .u-form-3 {
  height: 238px;
  width: 1023px;
  margin: 51px 0 0;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-input-10 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-input-11 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-tab-pane-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-1 .u-layout-wrap-4 {
  width: 1123px;
  margin: 0 -13px 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 510px;
}

.u-section-1 .u-container-layout-8 {
  padding: 15px 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 24px 49px 0 20px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-form-4 {
  height: 107px;
  margin: 20px 160px 0 88px;
}

.u-section-1 .u-form-group-17 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-1 .u-form-1 {
    width: 840px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 400px;
  }

  .u-section-1 .u-form-2 {
    width: 840px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 400px;
  }

  .u-section-1 .u-form-3 {
    width: 840px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 940px;
    margin-top: -236px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 427px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-4 {
    margin-right: 48px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-form-1 {
    width: 660px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-form-2 {
    width: 660px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-form-3 {
    width: 660px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-form-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 344px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 344px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-2 {
    width: 520px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-3 {
    width: 520px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 144px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 144px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-form-2 {
    width: 320px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-1 .u-form-3 {
    width: 320px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 340px;
  }
}