 .u-section-1 {
  min-height: 1374px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 822px);
  min-height: 1374px;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 165px auto 0 77px;
}

.u-section-1 .u-group-2 {
  width: calc(((100% - 1140px) / 2) + 318px);
  min-height: 1370px;
  height: auto;
  margin: -1370px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 190px;
  height: 180px;
  background-position: 50% 50%;
  margin: 259px auto 0 77px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 2.25rem;
  margin: 171px auto 0 50px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 2.25rem;
  margin: 42px auto 0 34px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-size: 2.25rem;
  margin: 39px auto 0 24px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  font-size: 2.25rem;
  margin: 45px auto 0 31px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: none none solid;
  font-size: 2.25rem;
  margin: 45px auto 0 39px;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: none none solid;
  font-size: 2.25rem;
  margin: 31px auto 0 95px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 822px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 940px) / 2) + 318px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 720px) / 2) + 318px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 540px) / 2) + 318px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 340px) / 2) + 318px);
  }
}